Repository theforeman/foremanctl, pull requests merged in 2025-03, with the labels that each got.

#113 Ensure pulp media directory exists
  roles/pulp/tasks/main.yaml
Labels: pulp

#108 Use health_startup_cmd to determine if Candlepin is up
  roles/candlepin/tasks/main.yml
Labels: candlepin

#115 Add restart on failure to dynflow services
  roles/foreman/tasks/main.yaml
Labels: foreman

#62 migrate pgsql installation from rpm to container-based
  playbooks/deploy.yaml
  playbooks/setup.yaml
  requirements.yml
  roles/postgresql/defaults/main.yml
  roles/postgresql/tasks/main.yml
  tests/postgresql_test.py
Labels: Waiting on contributor
