Repository theforeman/foremanctl, pull requests merged in 2025-05, with the labels that each got.

#166 only install the local-quadlet inventory to /etc/rop
  rop.spec
Labels: Waiting on contributor

#159 Rely on sdnotify: true for pulp
  src/roles/pulp/tasks/main.yaml
Labels: pulp

#158 Rely on sdnotify: true for foreman_proxy
  src/roles/foreman_proxy/tasks/main.yaml
Labels: foreman-proxy
